.hero {
  position: relative;
  display: inline-block;
	width: 100%;
	height: 100%;
}

.hero img {
  width: 100%;
  height: 100%;
}

.centered-text {
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  color: #fff; 
  text-align: center;
}

.event-title {
  font-family: "Protest Riot", sans-serif;
	background-color: hsla(0, 0%, 0%, 0.5);
	padding: 20px 10px;
	font-size: 100px;
	margin-bottom:50px;
}

.event-description {
  font-family: "Protest Riot", sans-serif;
	background-color: hsla(0, 0%, 0%, 0.5);
	padding: 10px 5px;
	font-size: 40px;
	margin-bottom:30px;
}

.event-button {
	background-color: hsla(0, 0%, 0%, 0.5);
	font-size: 20px;
	padding: 20px 20px;
	color:white;
	border-radius:30px;
}

.event-button:hover {
	background-color: hsl(0, 0%, 50%, 0.5);
	transition:0.7s;
}